<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Cadastrar</a></li>
            <li><a href="/tasks">Tarefas Pendentes</a></li>
            <li><a href="/tasks/finish">Tarefas Concluidas</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
<footer id="footer">
    <p>@Desenvolvido por David Lucas @2024 - Todos os direitos reservados</p>
</footer>
</html>